.deck-row {
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid var(--gray);
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 2fr 4fr; /* 16fr */
}

.deck-row .deck-checkbox {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid var(--blue1);
    position: relative;
    align-self: center;
}

.deck-row .deck-checkbox:hover {
    cursor: pointer;
}

.deck-row .deck-checkbox img {
    width: 1rem;
    vertical-align: top;
}

.deck-row span.deck-row-item {
    margin-top: 0.5rem;
}

/*---------------------------------------*/

.deck-row .deck-round-bar {
    height: 1.8rem;
    
    border-radius: 1.2rem;
    border: 1px solid var(--blue1);
    background: var(--blue1);
    
    text-align: center;
    color: #fff;
    font-weight: bold;

    position: relative;
    padding-top: 0.7rem;
    margin: 0rem 1rem;
}

.deck-row .deck-round-bar .icon-box {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
}

.deck-row .deck-round-bar .icon-box img {
    width: 70%;
    padding: 0.25rem;
    cursor: pointer;
}

/*---------------------------------------*/

.deck-row .option-deck {
    position: relative;
    align-self: center;
}

.deck-row .option-deck img {
    height: 1rem;
}

.deck-row .option-deck span {
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    color: var(--blue1);
}

.deck-row .option-deck span:hover {
    border-bottom: 1px solid var(--blue1);
    cursor: pointer;
}