.deck-header {
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid var(--gray);
    display: grid;
    grid-template-columns: 4fr 8fr 4fr; /* 16fr */
}

.deck-header .decks {
    align-self: center;
    margin-left: 30%;
    font-weight: bold;
}

/*---------------------------------------*/

.deck-header .deck-round-bar {
    max-width: 80%;
    height: 1.8rem;
    
    border-radius: 1.2rem;
    border: 1px solid var(--blue1);
    background: var(--blue1);
    
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.deck-header .deck-round-bar .icon-box {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
}

.deck-header .deck-round-bar .icon-box img {
    width: 70%;
    padding: 0.25rem;
    cursor: pointer;
}

/*---------------------------------------*/
.study-btn  {
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, var(--light-blue-grad), var(--strong-blue-grad));
    color: #fff;
    font-weight: bold;
    height: 2rem;
    max-width: 8rem;
}

.study-btn:hover {
    cursor: pointer;
    background: #fff;
    color: var(--strong-blue-grad);
    border: 1px solid var(--strong-blue-grad);
}