.MyClass-main {
    min-height: 80%;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tabs {
    padding: 1rem 2rem;
    width: 30%;
    text-align: center;
}

.tabs a {
    text-decoration: none;
    color: #000;
}

.tabs a:hover {
    text-decoration: underline;
}