.overlay-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(150,150,150,0.5);
}

.spin-div {
	display: block;
	text-align: center;
	margin-top: 1rem;
}